<div class="row" style="margin-right:0;margin-left:0;margin-top:3.3%;">
  <div class="col-md-6 text-center overflow" style="padding:0">
    <div class="example-card container">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">


            <div class="container">
              <img *ngIf="contactedUserGender=='Female'"
                [src]="userProfileDetails?.photo ? 'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/'+userProfileDetails?.photo : 'https://cdn1.iconfinder.com/data/icons/website-internet/48/website_-_female_user-512.png'"
                alt="Photo" class="recom-image ">
              <img *ngIf="contactedUserGender=='Male'"
                [src]="userProfileDetails?.photo ? 'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/'+userProfileDetails?.photo : 'https://cdn2.iconfinder.com/data/icons/rcons-users-color/32/boy-512.png'"
                alt="Photo" class="recom-image ">
              <div class="centered" *ngIf="!userProfileDetails.photo">Share on Demand</div>

            </div>

          </div>
          <div class="carousel-item" *ngFor="let photo of carouselcontactedUserPics">
            <img [id]="'proPic'+(i+1)" class="propic"
              [src]="photo ? 'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/'+photo : '../../assets/Review2.webp'"
              alt="Photo" class="recom-image ">
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"
          *ngIf="carouselcontactedUserPics.length!=0">
          <span class="carousel-control-prev-icon" style="background-color: #5742cb; background-size: 74%;"
            aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"
          *ngIf="carouselcontactedUserPics.length!=0">
          <span class="carousel-control-next-icon" style="background-color: #5742cb; background-size: 74%;"
            aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <mat-card-content class="cardas">
        <div class='left'>
          <p class="font-increase" style="margin-bottom:0.5rem" *ngIf="status!='contacted'">
            {{ userProfileDetails?.name?.split(' ')[0]  }} ******* </p>
          <p class="font-increase" style="margin-bottom:0.5rem" *ngIf="status=='contacted'">
            {{ userProfileDetails?.name}}</p>

          <p class="font-increase" style="margin-bottom:0.5rem">{{currentAge ? currentAge : '-' }} years
            &nbsp;&nbsp;{{userProfileDetails?.height ? userProfileDetails?.height : '-' }}&nbsp;|&nbsp;{{userProfileDetails?.weight ? userProfileDetails?.weight : '-' }}
            kgs</p>
          <p style="margin-bottom:0.5rem">{{userProfileDetails?.occupation ? userProfileDetails?.occupation : '-' }} |
            {{userProfileDetails?.degree ? userProfileDetails?.degree : '-' }}</p>
          <p style="margin-bottom:0.5rem">
            {{userProfileDetails?.monthly_income ? userProfileDetails?.monthly_income : '-' }} |
            {{userFamilyDetails?.city ? userFamilyDetails?.city : '-' }} lpa</p>
        </div>
        <div class='right'>
          <p class="dsa">
            {{userFamilyDetails?.religion ? userFamilyDetails?.religion : '-' }}&nbsp;|&nbsp;{{userProfileDetails?.gender ? userProfileDetails?.gender : '-' }}&nbsp;|&nbsp;{{userFamilyDetails?.caste ? userFamilyDetails?.caste : '-' }}
          </p>
          <p class="dsa">{{userProfileDetails?.marital_status ? userProfileDetails?.marital_status : '-' }}</p>
          <p class="dsa">{{userProfileDetails?.manglik ? userProfileDetails?.manglik : '-' }}</p>
          <p class="dsa">{{userProfileDetails?.food_choice ? userProfileDetails?.food_choice : '-' }}</p>
        </div>
      </mat-card-content>
    </div>
  </div>
  <hr>
  <div class="col-md-6 text-center">
    <div class="container sas">
      <button type="button" class="btn btn-outline-warning round active" [ngClass]="{'active': isClicked}"
        (click)="scroll('About')">About <span *ngIf="contactedUserGender=='Male'">Him</span><span
          *ngIf="contactedUserGender=='Female'">Her</span></button>
      &nbsp;
      <button type="button" class="btn btn-outline-warning round" (click)="scroll('Familydetails')">Family
        details</button>
      &nbsp;
      <button type="button" class="btn btn-outline-warning round" (click)="scroll('preference')">Preferences</button>
    </div>
    <div style="height:26rem;overflow-y:visible">
      <mat-card class="about-card">
        <mat-card-content>
          <div id="About">
            <h5 class="text-center" style="color:rebeccapurple">ABOUT</h5>
            <p class="text-justify">
              {{userProfileDetails?.about}}
              <br><br>
              <h6>Education</h6><br>
              <!-- <p class="text-justify"> Education : {{ userProfileDetails?.education ? userProfileDetails?.education : 'N/A' }}  </p> -->
              <p class="text-justify"> College : {{ userProfileDetails?.college ? userProfileDetails?.college : 'N/A' }}
                / Degree : {{ userProfileDetails?.degree ? userProfileDetails?.degree : 'N/A' }}
                <p class="text-justify"> Current City : {{ userFamilyDetails?.city ? userFamilyDetails?.city : 'N/A' }}

                  <p class="text-justify"> Additional Details :
                    {{ userProfileDetails?.additional_qualification ? userProfileDetails?.additional_qualification : 'N/A' }}

                  </p>
          </div>
          <div id="careerDetails">
            <hr><br>
            <h5 class="text-center" style="color:rebeccapurple">CAREER DETAILS</h5>
            <br>
            <p class="text-justify"> Occupation :
              {{ userProfileDetails?.occupation ? userProfileDetails?.occupation : 'N/A' }} </p>
            <p class="text-justify"> Profession :
              {{ userProfileDetails?.profession ? userProfileDetails?.profession : 'N/A' }} at
              {{ userProfileDetails?.company ? userProfileDetails?.company : 'N/A' }} </p>
            <!-- <p class="text-justify"> Current City : {{ userProfileDetails?.working_city ? userProfileDetails?.working_city : 'N/A' }}  -->
            <p class="text-justify"> Annual Income :
              {{ userProfileDetails?.monthly_income ? userProfileDetails?.monthly_income : 'N/A' }} lpa
          </div>

          <div id="horoscopeDetails">
            <hr><br>
            <h5 class="text-center" style="color:rebeccapurple">HOROSCOPE DETAILS</h5>
            <br>
            <p class="text-justify"> Manglik Status : {{ userProfileDetails?.manglik ? userProfileDetails?.manglik : 'N/A' }}
            </p>
            <p class="text-justify"> Date of Birth :
              {{ userProfileDetails?.birth_date ? userBirthDay : 'N/A' }}
              <p class="text-justify"> Birth Place :
                {{ userProfileDetails?.birth_place ? userProfileDetails?.birth_place : 'N/A' }}
                <p class="text-justify"> Timing of Birth :
                  {{ userProfileDetails?.birth_time ? userProfileDetails?.birth_time : 'N/A' }}

          </div>

          <div id="contactDetails" *ngIf="status=='contacted'">
            <hr><br>
            <h5 class="text-center" style="color:rebeccapurple">CONTACT DETAILS</h5>
            <br>
            <p class="text-justify"> Email : {{ userFamilyDetails?.email ? userFamilyDetails?.email : 'N/A' }} </p>
            <p class="text-justify"> Mobile : {{ userFamilyDetails?.mobile ? userFamilyDetails?.mobile : 'N/A' }}
              <p class="text-justify"> Whatsapp :
                {{ userFamilyDetails?.whats_app_no ? userFamilyDetails?.whats_app_no : 'N/A' }}

          </div>

          <div id="Familydetails">
            <hr><br>
            <h5 class="text-center" style="color:rebeccapurple">FAMILY DETAILS</h5>
            <p class="text-justify">
              {{userFamilyDetails?.about}}<br><br>
              Address : {{ userFamilyDetails?.address }}
              <br>
              <h6>Parent's Details</h6><br>
              <!-- <p class="text-justify"> Parental Status : {{ userFamilyDetails?.parental_status ? userFamilyDetails?.parental_status : 'N/A' }}  </p> -->
              <p class="text-justify" *ngIf="userFamilyDetails?.father_status=='Alive'"> Father's Occupation :
                {{ userFamilyDetails?.occupation ? userFamilyDetails?.occupation : 'N/A' }} </p>
              <p class="text-justify" *ngIf="userFamilyDetails?.mother_status=='Alive'"> Mother's Occupation :
                {{ userFamilyDetails?.occupation_mother ? userFamilyDetails?.occupation_mother : 'N/A' }} </p>
              <p class="text-justify"> Family Income :
                {{ userFamilyDetails?.family_income ? userFamilyDetails?.family_income : 'N/A' }} lpa </p>

              <p class="text-justify"> Family Type :
                {{ userFamilyDetails?.family_type ? userFamilyDetails?.family_type : 'N/A' }} </p>
              <p class="text-justify"> Mother Tongue :
                {{ userFamilyDetails?.mother_tongue ? userFamilyDetails?.mother_tongue : 'N/A' }}
                <p class="text-justify"> Mother's Occupation :
                  {{ userFamilyDetails?.occupation_mother ? userFamilyDetails?.occupation_mother : 'N/A' }}

                  <h6>Siblings's Details</h6><br>
                  <p class="text-justify"> Has
                    {{ userFamilyDetails?.unmarried_daughters ? userFamilyDetails?.unmarried_daughters : '0' }}
                    unmarried sisters and
                    {{ userFamilyDetails?.married_daughters ? userFamilyDetails?.married_daughters : '0' }} married
                    sisters. </p>
                  <p class="text-justify"> Has
                    {{ userFamilyDetails?.unmarried_sons ? userFamilyDetails?.unmarried_sons : '0' }} unmarried brothers
                    and {{ userFamilyDetails?.married_sons ? userFamilyDetails?.married_sons : '0' }} married brothers.
                  </p>

          </div>
          <div id="preference">
            <hr><br>
            <h5 class="text-center" style="color:rebeccapurple">PREFERENCES</h5>
            <p class="text-justify">
              {{userPreferenceDetails?.description ? userPreferenceDetails?.description : 'No description for preferences' }}<br>
              <br>
              Height : {{userPreferenceDetails?.height_min ? userPreferenceDetails?.height_min : 'N/A' }} -
              {{userPreferenceDetails?.height_max ? userPreferenceDetails?.height_max : 'N/A' }} <br><br>
              Age : {{userPreferenceDetails?.age_min ? userPreferenceDetails?.age_min : 'N/A' }} -
              {{userPreferenceDetails?.age_max ? userPreferenceDetails?.age_max : 'N/A' }}<br><br>
              Caste : {{userPreferenceDetails?.caste ? userPreferenceDetails?.caste : 'N/A' }}<br><br>
              Working Status : {{userPreferenceDetails?.working ? userPreferenceDetails?.working : 'N/A' }}<br><br>
              Manglik Status : {{userPreferenceDetails?.manglik ? userPreferenceDetails?.manglik : 'N/A' }}<br><br>
              Marital Status :
              {{userPreferenceDetails?.marital_status ? userPreferenceDetails?.marital_status : 'N/A' }}<br><br>
              Mother Tongue :
              {{userPreferenceDetails?.mother_tongue ? userPreferenceDetails?.mother_tongue : 'N/A' }}<br><br>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="icons" *ngIf="status!='contacted'">
  <button class="takeAction" matTooltip="Contact the user" (click)="getWhatsappPoints()">
    <img src="../../assets/whatsapp.webp" style="height:4rem;width:4rem">
  </button>
</div>

<!-- Modal to put the user in contacts  -->
<ng-template class="contactmodal" #contactModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" style="outline: none" class="close" aria-label="Close" (click)="Cross_click()">X
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="whatsappCredit>0">
      <p class="verifyHeader">You have {{ whatsappCredit }} credit/credits. This will cost you 1 credit.</p>
      <p class="verifyHeader"> Please press Yes to Proceed otherwise No</p>
      <button mat-raised-button color="accent" mat-btn (click)="contactUser(recommendedUserId)">Yes</button>
      <button style="float:right" mat-raised-button color="warn" (click)="Cross_click()">No</button>

    </div>

    <div *ngIf="whatsappCredit<=0">
      <p class="verifyHeader">You have {{ whatsappCredit }} credit/credits. </p>
      <p class="verifyHeader"> Please subscribe to buy credits.</p>
      <button mat-raised-button color="accent" mat-btn routerLink="/subscription" (click)="Cross_click()">Go to
        Subscription Page</button>
    </div>
  </div>

</ng-template>